<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fps.cmn.mapper.common.CodeMapper">

    <!-- 모든 코드 조회 -->
    <select id="findAllCodes" resultType="map">
        SELECT code_id, parent_id, code_key, code_value, description, updated_at
        FROM code_table
    </select>

    <!-- 특정 코드 키로 조회 -->
    <select id="findCodeByKey" resultType="map" parameterType="string">
        SELECT code_id, parent_id, code_key, code_value, description, updated_at
        FROM code_table
        WHERE code_key = #{codeKey}
    </select>

</mapper>
